-@rounds.each do |round|
  = link_to round.course.name, round_path(round)
  %p 
    Score
    = round.total_score
    Date
    = round.created_at.strftime("%b %d, %Y")

.btn
  = link_to "Add a Round", new_round_path, class: "btn btn-default"