= image_tag("golfcourse.jpg", class: "golf_picture")
%br
%div.marketingtext
  %p
    With Golf Trax, worrying about a lost pencil is a thing of the past. Golf Trax is a web application that allows a player to keep track of all of the scores for each player in the group. Users also have the ability to add local courses and track their scores from previous rounds.