a {
  color: #109D18;
  text-decoration: none;
}

a:hover{
  color: #108118;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #109D18;
}

.navbar{
  background-color: #fff;
}

.nav{
  padding:10px;
}

.navbar-header{
  padding:5px;
}

body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container_body{
  width:80%;
  margin: 0 auto;
}

.output {
  display: inline-block;
  border: 1px solid #EEE;
  padding: 2.3pt;
}

label{
  width: 7em;
  margin-right: 0.5em;
  display:inline-block;
}

.hole_input{
  width: 1.5em;
  border-radius: 20px;
  text-align: center;
  
}


