<table class="table table-bordered">
  <tbody>
    <!-- {{data.holes}} -->
    <tr>
      <td>Hole</td>
      <td ng-repeat="hole in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,]">
        {{ hole }}
      </td>
    </tr>
 <!--    <tr>
      <td>Back Tee</td>
      <td ng-repeat= "hole in data.holes">{{hole.back_tee_yardage}}</td>
    </tr>
    <tr>
      <td>Middle Tee</td>
      <td ng-repeat= "hole in data.holes">{{hole.middle_tee_yardage}}</td>
    </tr>
    <tr>
      <td>Front Tee</td>
      <td ng-repeat= "hole in data.holes">{{hole.front_tee_yardage}}</td>
    </tr>
    <tr>
      <td>Forward Tee</td>
      <td ng-repeat= "hole in data.holes">{{hole.forward_tee_yardage}}</td>
    </tr>
    <tr>
      <td>Handicap</td>
      <td ng-repeat= "hole in data.holes">{{hole.mens_handicap}}</td>
    </tr>
    <tr>
      <td ng-repeat="user in users">{{user.user_name}}</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr> -->
    <!-- <tr ng-repeat="(key, value) in data.holes">
      <td>Par</td>
      <td ng-repeat= "hole in value">{{hole.par}}</td>
    </tr> -->

    <tr ng-repeat="(key, value) in data.holes">
      <td>{{key}}</td>
      <td ng-repeat="hole in value">
       <input class="hole_input" ng-model="hole.score" ng-change="hole.score">
      </td>
      <!-- <td>{{totalScore()}}</td> -->
    </tr>
  </tbody>
</table>
<button class="btn btn-success" ng-click="updateScore()">Save Scores</button>
<a href="/rounds"><button class="btn btn-success">Rounds</button></a>
