.header
  %ul.nav.nav-pills.pull-right
    %li.active
      = link_to "Courses", courses_path
    %li
      %a{:href => "javascript:void(0)"} Rounds
    %li
      %a{:href => "javascript:void(0)"} Handicap
    %li
      - if user_signed_in? 
        = link_to('Logout', destroy_user_session_path, method: :delete)
      - else
        = link_to('Login', new_user_session_path)