.header
  %ul.nav.nav-pills.pull-right
    %li{ class: active_tab("courses") }
      = link_to "Courses", courses_path
    %li{ class: active_tab("rounds") }
      = link_to "Rounds", rounds_path
    %li
      %a{:href => "javascript:void(0)"} Handicap
    %li{ class: active_tab("sessions") }
      - if user_signed_in? 
        = link_to('Logout', destroy_user_session_path, method: :delete)
      - else
        = link_to('Login', new_user_session_path)